<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="changeValue(-5)" [disabled]="progress === 0"><i class="fa fa-minus"></i></button>
    </span>
    <input
        type="number"
        class="form-control" 
        [ngClass]="{'is-invalid': progress > 100 || progress < 0}"
        placeholder="Progreso"
        (ngModelChange)="progressChange($event)"
        [(ngModel)]="progress">

    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="changeValue(+5)" [disabled]="progress === 100"><i class="fa fa-plus"></i></button>
    </span>
</div>